body{
    background-color: coral;
}
#site{
    width: 800px;
    margin: auto;
    background-color: darkorange;
}
#logo{
    width: 800px;
    background-color: rgb(24, 218, 218);
    padding-top: 1px;
    padding-bottom: 1px;
}
.logotext{
    color: rgb(243, 238, 232);
    font-size: 25px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#menu{
    color: black;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
a{
    text-decoration: none;
    color: rgb(216, 128, 13);
}
.link{
    padding: 20px;
}
#head{
    background-color: rgb(223, 15, 15);
    padding: 10px;
    height: 170px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.about{
    font-size: 36px;
}
#headtext{
    color: antiquewhite;
    padding: 20px;
    padding-left: 200px;
    margin-top: -135px;
}
#nav{
    background-color: aquamarine;
    padding-left: 10px;
    padding-top: 20px;
    float: left;
    width: 150px;
    height: 600px;
    line-height: 25px;
}
#sec{
    background-color: aliceblue;
    padding-top: 5px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 15px;
    width: 560px;
    height: 600px;
    text-align: justify;
    float: left;
    margin-bottom: 5px;
}
#footer{
    padding: 20px;
    text-align: center;
    clear: both;
    background-color: brown;
}